<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" >
      <a class="navbar-brand" href="#">
        <img src="assets/AMPE.png" alt="..." height="140">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Join</a>
          </li>
        </ul>
      </div>
    
  </nav>
  <!-- End Navigation -->
<div class="container-fluid">
<div class="row">
  <div class="col-12 mx-auto">
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide p-3 align " data-ride="carousel" data-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active" style="position: relative;">
          <div class="overlay w-100">
            <div class="carousel-inline-text">
              <h1>What We Do</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
          <img class="d-block w-100" style="height: 80vh; z-index: 9;" src="assets/partners.jpeg" alt="First slide">
          
        </div>
        <div class="carousel-item" style="position: relative;">
          <div class="overlay w-100">
            <div class="carousel-inline-text">
              <h1>Women In Power</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
          <img class="d-block w-100" style="height: 80vh;" src="assets/WIP.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item" style="position: relative;">
          <div class="overlay w-100">
            <div class="carousel-inline-text">
              <h1>Building Partnerships</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
          <img class="d-block w-100" style="height: 80vh;" src="assets/exercise.png" alt="Third slide">
        </div>
      </div>
    </div>

    <!-- End Carousel -->
  </div>
</div>
</div>

<!-- CARDS -->
<section class="wrapper bg-to-fedora">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <a class="img-card" href="#">
                            <img src="https://brownpoliticalreview.org/wp-content/uploads/2017/05/4019143116_421da4efba_o.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> Lorem Ipsum
                                  </a>
                                </h4>
                                <p class="">
                                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus 
                                </p>
                            </div>
                            <div class="card-read-more">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://www.stripes.com/theaters/europe/671429.jpg/alternates/LANDSCAPE_910/Army%20Gen.%20Stephen%20Townsend%2C%20head%20of%20U.S.%20Africa%20Co" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Lorem Ipsum
                                  </a>
                                </h4>
                                <p class="">
                                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus 
                                </p>
                            </div>
                            <div class="card-read-more">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://www.moroccoworldnews.com/wp-content/uploads/2023/03/africom-commander-african-nations-are-shaping-our-present-and-future-800x450.jpeg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html"> Lorem Ipsum
                                  </a>
                                </h4>
                                <p class="">
                                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus 
                                </p>
                            </div>
                            <div class="card-read-more">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CARDS -->

<section class="wrapper bg-fedora">
        <div class="row">
          <div class="col-12 mx-auto">
            <h1 class="text-center m-2 p-5 text-capitalize font-weight-bold display-2" style="background: #47294c;">Lorem Ipsum</h1>
          </div>
        </div>
</section>

<div class="content bg-fedora">
<div class="container">
  <div class="row p-3 soft-corners bg-lilac overlapped-row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.africom.mil/Img/35154/Original/commander-meets-libyan-delegation-at-chiefs-of-defense-conference" alt="">
      </div>
      <div class="col-md-5">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center bg-bossa">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="mt-5">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5">
        <!-- Grid column -->
        <div class="col-md-4">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Fraternity</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Equality</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Liberty</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-5" />

    <!-- Section: Text -->
    <section class="mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            distinctio earum repellat quaerat voluptatibus placeat nam,
            commodi optio pariatur est quia magnam eum harum corrupti
            dicta, aliquam sequi voluptate quas.
          </p>
        </div>
      </div>
    </section>
    <!-- Section: Text -->

    <!-- Section: Social -->
    <section class="text-center mb-5">
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href=""> AFRICOM MISSION PARTNER ENVIRONMENT</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->