<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top" >
      <a class="navbar-brand" href="#">
        <img src="assets/AMPE.png" alt="..." height="80">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://office.com">Login</a>
          </li>
        </ul>
      </div>
    
  </nav>
  <!-- End Navigation -->

<div class="content bg-fedora">
<div class="container">
  <div class="row p-3 soft-corners bg-lilac overlapped-row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.africom.mil/Img/35120/Medium/us-forces-engage-insurgents-in-support-of-the-federal-government-of-somalia" alt="">
      </div>
      <div class="col-md-5">
        <h3>AFRICOM MISSION PARTNER ENVIRONMENT</h3>
        <p>The United States Africa Command (USAFRICOM) Mission Partner Environment (AMPE) Impact Level 2 (IL-2) is a commander’s tool that can be utilized to provide ally and coalition forces the ability to collaborate during exercises and enduring operations. The AMPE plays a vital role in delivering a seamless and secure collaboration experience.</p>
      </div>
    </div>
</div>

